#toc-btn-chrome-plugin:hover{
  background: linear-gradient(to right, rgb(239, 239, 238), rgb(250, 250, 250));
}
#toc-btn-chrome-plugin.open{
  right: 300px;
}
#toc-btn-chrome-plugin{
  right: 0;
  position: fixed;
  display: block;
  z-index:99999;
  user-select: none;
  transition: right ease-in 0.2s;
  cursor: pointer;
  opacity: 1;
  width: 36px;
  height: 72px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 62px;
  top: 50vh;
  background-color: #fafafa;
  box-shadow: rgba(15, 15, 15, 0.1) 0px -1px 0px 0px, rgba(15, 15, 15, 0.1) -2px 1px 4px;
  border-radius: 5px 0 0 5px;
  border: none;
}
#toc-ul-chrome-plugin.open{
  right: 0px;
}
#toc-ul-chrome-plugin{
  right: -300px;
  width: 300px;
  top: 0;
  margin: 0;
  padding: 20px 0;
  position: fixed;
  z-index:9999;
  line-height: 1.3em;
  color: #6e7173;
  background-color: #fafafa;
  border: none;
  border-radius: 5px 0 0 5px;
  text-overflow: ellipsis;
  overflow-y: auto;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 0px, rgba(15, 15, 15, 0.1) -2px 0px 4px;
  height: 100vh;
  transition: right ease-in 0.2s;
}
#toc-ul-chrome-plugin .toTopBtn{
  margin-left: 20px;
  margin-top: 30px;
  display: block;
  width: 40px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}
#toc-ul-chrome-plugin li{
  list-style: none;
  overflow: hidden;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}
#toc-ul-chrome-plugin li.level-1{
  padding-left:0;
}
#toc-ul-chrome-plugin li.level-2{
  padding-left:20px;
}
#toc-ul-chrome-plugin li.level-3{
  padding-left:40px;
}
#toc-ul-chrome-plugin li a{
  color:inherit;
}
#toc-ul-chrome-plugin li a:active{
  color:inherit;
}
#toc-ul-chrome-plugin li a{
  color:inherit;
}

/* dark btn */
#dark-btn-chrome-plugin{
  user-select: none;
    transition: background 20ms ease-in 0s;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    height: 28px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.2;
    min-width: 0px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(55, 53, 47);
}
#dark-btn-chrome-plugin input{
  visibility: hidden;
  cursor:pointer;
}
#dark-btn-chrome-plugin label{
  display: inline-flex;
  border: 1px solid #444;
  width: 35px;
  height: 18px;
  line-height: 28px;
  border-radius: 15px;
  background-color: #ecece9;
  cursor:pointer;
  transition: all .15s linear;
}
#dark-btn-chrome-plugin input:checked+label{
  background-color: #0a0a0a;
}
#dark-btn-chrome-plugin input:checked+label:after{
  left:12px;
  background-color: #fcfcfc;
  box-shadow: none;
}
#dark-btn-chrome-plugin label:after{
  cursor:pointer;
  content:'';
  display: block;
  position: relative;
  top:0px;
  left:1px;
  width:20px;
  height: 14px;
  margin-top:1px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 0px #676767;
  transition: all .15s linear;
}
html.dark{
  filter: invert(80%) hue-rotate(200deg)
}